.weekend {
  position: relative;
  width: 100%;
  background: url("../img/about page/weekend.png");
  height: 50rem;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  margin-top: 8rem;
  /* justify-content: flex-start; */
  /* justify-content: center; */
}

.weekend-search {
  background: #003fac;
  height: 100%;
  width: 30%;
  padding-left: 5rem;
}

.weekend-data {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  width: 70%;
}

.weekend-search h2 {
  line-height: 1;
  margin: 2rem 0;
}

.week-form {
  text-align: left;
  width: 70%;
}

.weekend-search label {
  font-size: 1.7rem;
  color: var(--white);
  font-weight: 600;
}

.g-btn {
  background: var(--green);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  margin: 3rem 0;
  cursor: pointer;
}

.school-value {
  margin: 0 auto;
  /* margin-top: 10rem; */
  margin-bottom: 10rem;
  padding-top: 10rem;
  text-align: center;
}
.school-value h2 {
  margin: 2rem 0;
}
.school-value p {
  text-align: left;
}

.b-btn {
  font-size: 1.4rem;
  color: white;
  padding: 1rem 2rem;
  background: var(--black);
  margin: 3rem 0;
  border-radius: 2rem;
}

/* Admission Section Made By Prasenjeet Symon */
.admission {
  --admission-bg-color: #003eac;
  --admission-text-color: white;
  --admission-btn-color: white;
  --admission-btn-bg-color: #003eac;

  background-color: var(--admission-bg-color);
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admission > div:nth-of-type(1) {
  width: 80%;
  margin: 0 auto;
}

.admission .enrollmentUpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--admission-text-color);
}

.admission .enrollmentUpper hr {
  height: 5px;
  width: 50px;
  border-radius: 50px;
  background-color: var(--admission-text-color);
  margin: 0px 0px 10px 0px;
}

.admission .enrollmentHold {
  width: 100%;
  margin: 50px 0px 0px 0px;
}

.admission .enrollmentHold > div:nth-of-type(1) {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.admission .enrollmentItem {
  border: 1px solid var(--admission-text-color);
  min-width: 250px;
  max-width: 250px;
  margin: 0px 15px;
  height: 250px;
}

.admission .enrollmentItem > div:nth-of-type(1) {
  background-color: var(--admission-text-color);
  padding: 15px;
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--admission-bg-color);
  font-size: 1.35rem;
  text-align: center;
}

.admission .enrollmentItem > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--admission-text-color);
  padding: 15px;
  overflow-y: auto;
}

.admission .enrollmentItem > div:nth-of-type(2) > div:nth-of-type(1) {
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0px 20px 0px;
}

.admission .enrollmentItem > div:nth-of-type(2) > div:nth-of-type(2) {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--body-font);
}

.adms-card-cont {
  gap: 4rem;
}

.adms-card {
  width: 100%;
  height: 27rem;
  border: 1px solid var(--white);
  color: var(--white);
}

.date {
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
  background: #5e90ea;
  padding: 1rem 2rem;
}

.card-down-d {
  margin: 2rem;
}

.card-down-d p {
  margin: 2rem 0;
}

.expr {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
}

.gallery hr {
  background: var(--black);
}

.gallery-card {
  width: 80%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2rem;
  margin: auto;
}

.review {
  position: relative;
  margin: 10rem auto;
}

.review h2 {
  color: var(--black);
}

.review hr {
  background: var(--black);
}

.testimonial {
  position: relative;
  max-width: 140rem;
  margin: auto;
  /* border : 2px solid black; */
}

.rvw-profile img {
  margin: 2rem 0;
}

.rvw-profile {
  /* border-radius: 50%; */
  width: 100%;
  text-align: center;
}
.swiper-button-next4 {
  position: absolute;
  top: 50%;
  left: -4rem;
  z-index: 99;
  transform: translateY(-50%);
}
.swiper-button-prev4 {
  position: absolute;
  top: 50%;
  right: -4rem;
  z-index: 99;
  transform: translateY(-50%);
}
.swiper-button-next3 {
  position: absolute;
  top: 50%;
  left: 0rem;
  z-index: 2;
}
.swiper-button-prev3 {
  position: absolute;
  top: 50%;
  right: 0rem;
  z-index: 2;
}
.mySwiper3 {
  width: 85%;
}
.mySwiper4 {
  width: 90%;
}

/* ------------------- responsivness ------------------  */
@media (max-width: 1100px) {
  .weekend {
    position: relative;
  }

  .weekend::after {
    content: "Our Weekend Data";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding: 0 1rem;
  }

  .weekend-search {
    position: absolute;
    background: #003fac;
    height: 50%;
    width: 100%;
    top: 100%;
    text-align: center;
    padding-left: 0;
    padding: 16rem 0;
  }

  .weekend-data {
    transform: scale(1);
  }

  .week-form {
    width: 100%;
    text-align: center;
  }

  .select {
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .gallery-card {
    width: 100%;
    gap: 1rem;
  }
}

@media (max-width: 550px) {
  .swiper-button-prev3 {
    right: -1rem;
  }
  .swiper-button-next3 {
    left: -1rem;
  }
}

@media (max-width: 500px) {
  .rvw-profile img {
    width: 80%;
  }
  .swiper-button-next4 {
    left: -3rem;
  }
  .swiper-button-prev4 {
    right: -3rem;
  }
}

@media (max-width: 430px) {
  .weekend::after {
    font-size: 3rem;
  }
}

/* Prasenjeet Symon  */
.ourSchoolValuesSection {
  font-family: var(--heading-font);
}

.ourSchoolValuesSection > div > h2 {
  font-size: 3.5rem;
  text-align: center;
}

.ourSchoolValuesSection > div > hr {
  width: 6rem;
  background-color: #7898d3;
  margin: 0 auto;
  border: 0px;
  border-radius: 50px;
  height: 0.6rem;
  margin: 25px auto;
}

.ourSchoolValuesSection p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}

.dropDownButtonToExpandPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #174fb3;
  margin: 35px 0px 100px 0px;
}

.dropDownButtonToExpandPanel span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #174fb3;
}

.dropDownButtonToExpandPanel i {
  cursor: pointer;
}

.ctaAddmissionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0px 20px 0px;
}

.ctaAddmissionButton button {
  padding: 15px 25px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  border: 0px;
}

/* Testimonials */
.testimonialSectionNew {
  padding: 100px 0px;
}

.testimonialSectionNew > section:nth-of-type(1) {
  width: 80%;
  margin: 0 auto;
}

.testimonialSectionNew .hederSection {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding: 15px 0px;
}

.testimonialSectionNew .hederSection > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonialSectionNew .hederSection > div:nth-of-type(2) hr {
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  height: 0.5rem;
  width: 4rem;
  border-width: initial;
  border-style: none;
  border-top-color: initial;
  outline: none;
  background-color: rgb(32, 32, 32);
  border-radius: 1rem;
  margin: 15px auto;
}

.testimonialSectionNew .hederSection > div:nth-of-type(3) {
  display: flex;
  align-items: flex-start;
}

.testimonialSectionNew .hederSection > div:nth-of-type(3) i {
  font-size: 3.5rem;
  margin-left: 25px;
  cursor: pointer;
}

.allReviewsWrapper .reviewItem {
  height: 300px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 15px;
  border-left: 5px solid black;
  margin: 15px 0px;
}

.allReviewsWrapper .reviewItem > div:nth-of-type(2) {
  flex: 1;
}

.allReviewsWrapper .reviewItem > div:nth-of-type(1) {
  font-size: 2rem;
  font-weight: 600;
}

.allReviewsWrapper .reviewItem > div:nth-of-type(2) {
  font-size: 1.35rem;
  font-family: var(--heading-font);
  margin: 10px 0px;
  line-height: 1.75rem;
  overflow-y: auto;
}

.allReviewsWrapper .reviewItem > div:nth-of-type(3) button {
  padding: 10px 20px;
  border: 1px solid black;
  outline: none;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.allReviewsWrapper .reviewItem > div:nth-of-type(3) button:hover {
  border-radius: 50px;
  padding: 10px 25px;
}

/* Gallery Section written by prasenjeet symon @worksymon@outlook.com */
.galleryWrapper {
  padding: 50px 0px;
}

.galleryWrapper > section:nth-of-type(1) {
  width: 80%;
  margin: 0 auto;
}

.galleryWrapper > section:nth-of-type(1) > div:nth-of-type(1) h2 {
  margin-bottom: 10px;
  text-align: center;
}

.galleryWrapper > section:nth-of-type(1) > div:nth-of-type(1) hr {
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  height: 0.5rem;
  width: 4rem;
  border-width: initial;
  border-style: none;
  border-top-color: initial;
  outline: none;
  background-color: rgb(32, 32, 32);
  border-radius: 1rem;
  margin: 15px auto;
}

.galleryWrapper > section:nth-of-type(1) > div:nth-of-type(2) {
  margin: 45px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.galleryWrapper > section:nth-of-type(1) > div:nth-of-type(2) > div img:hover {
  border-radius: 15px;
}

.galleryWrapper > section:nth-of-type(1) > div:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0px 0px 0px;
}

.galleryWrapper > section:nth-of-type(1) > div:nth-of-type(3) button {
  padding: 10px 30px;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: white;
}

/* Weekend school section made by prasenjeet symon */
.ourWeekEndSchoolSection {
  display: flex;
  height: 500px;
  margin: 1px 0px;
  background-color: #003fac;
}

.ourWeekEndSchoolSection > div:nth-of-type(1) {
  width: 40%;
}

.ourWeekEndSchoolSection > div:nth-of-type(2) {
  width: 60%;
}

.ourWeekEndSchoolSection > div:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.ourWeekEndSchoolSection > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ourWeekEndSchoolSection > div:nth-of-type(1) > div {
  width: 70%;
  margin-bottom: 25px;
}

.ourWeekEndSchoolSection > div:nth-of-type(1) > div:nth-of-type(1) {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.ourWeekEndSchoolSection
  > div:nth-of-type(1)
  > div:nth-of-type(2)
  > div
  > label {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.ourWeekEndSchoolSection > div:nth-of-type(1) > div:nth-of-type(2) > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
  width: 100%;
}

.ourWeekEndSchoolSection
  > div:nth-of-type(1)
  > div:nth-of-type(2)
  > div
  > select {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.ourWeekEndSchoolSection > div:nth-of-type(1) > div:nth-of-type(3) button {
  padding: 15px 20px;
  border-radius: 50px;
  background-color: #008f46;
  color: white;
  border: 0px;
  outline: none;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .testimonialSectionNew > section:nth-of-type(1) {
    width: 90%;
    margin: 0 auto;
  }

  .testimonialSectionNew .hederSection {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px 0px;
  }

  .testimonialSectionNew .hederSection > div:nth-of-type(3) i {
    font-size: 3.5rem;
    cursor: pointer;
    padding: 0px 10px;
    margin: 25px 0px 0px 0px;
  }

  .testimonialSectionNew .hederSection > div:nth-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .galleryWrapper > section:nth-of-type(1) > div:nth-of-type(2) {
    grid-template-columns: 1fr 1fr;
  }

  .galleryWrapper > section:nth-of-type(1) {
    width: 95%;
    margin: 0 auto;
  }

  .ourWeekEndSchoolSection > div:nth-of-type(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ourWeekEndSchoolSection > div:nth-of-type(1) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ourWeekEndSchoolSection > div:nth-of-type(2) {
    width: 0%;
  }

  .ourWeekEndSchoolSection > div:nth-of-type(1) > div {
    width: 90%;
  }

  .admission .enrollmentHold > div:nth-of-type(1) {
    flex-wrap: wrap;
  }

  .admission .enrollmentItem {
    min-width: 345px;
    max-width: 345px;
    margin: 15px;
  }
}

.schoolFeeStructurePopup {
  display: none;
}
